

{% extends 'base.html' %}

{% block content %}
     <div id="wrapper2">
  <h2 id="title">Available Pizzas</h2>
  <form id="myOrder" method="post" action="{% url 'place_order' %}">
    {% csrf_token %}
    <label for="pizza">Select Pizza:</label>
    <select name="pizza" id="pizza">
      {% for pizza in pizzas %}
        <option value="{{ pizza.topping }}">{{ pizza.topping }} - ${{ pizza.price }}</option>
      {% endfor %}
    </select>
    <button type="submit">Order</button>
  </form>
      </div>
{% endblock %}